@mixin button{
    &:hover { opacity:.8; }
        
    display: inline-block;
    
    padding: 0.375rem 0.75rem;
    
    font-size: 0.9375rem;
    line-height: 1.5;
    
    font-weight: 400;
    text-align: center;
    vertical-align: middle;

    border-radius: 0.25rem;
    border: 1px solid transparent;
    
    color:var(--btn-c,white);
    background-color:var(--btn-bg-c, #375A7F);

    cursor:pointer;

    @content;
}
.btn {
    @include button;   }