@mixin baseCard(){
    .card-img {
        width:100%;
        object-fit: cover;
        object-position: center;
        grid-area:img; }

    .card-header{ grid-area:header; }
    .card-body { grid-area:body; }
    .card-footer { grid-area:footer; }
    .floating { position:absolute;  }
    .card-header,.card-body,.card-footer { padding:.8rem 1rem;}

    position:relative;
    min-width:15rem;
    max-width:var(--card-w,40vw);

    display:grid;
    grid-template-areas:'img''header''body''footer';

    border-radius:5px;
}

.card { @include baseCard; }

.card-article {
    .card-img{ height:100%; }

    $card-img-w:20vw;
    $ratio:2;
    --card-img-w:#{$card-img-w};
    --card-body-w:#{$card-img-w * $ratio};
    
    min-width:45rem;
    max-height:15rem;display:grid;
    min-width:15rem;
    max-width:var(--card-w,40vw);

    grid-template-areas: 'img header' 'img body' 'img footer';
    grid-template-columns:var(--card-img-w) var(--card-body-w);
    grid-template-areas:'img''header''body''footer';

    border-radius:5px;
    position:relative;
    overflow-y:hidden;
}