.container {
    padding:4rem 6rem;
    & > * {
        margin:1rem;
    }
}
.jumbotron {
    $secondary:#303030 !default;
    $text:#fff !default;
    padding: 2rem 1rem;
    margin-bottom: 2rem;

    background-color:$secondary;
    color:$text;
    border-radius: 0.3rem;
    @media screen and (min-width:576px){
        padding: 4rem 2rem;
    }
}
.wrap { padding: 1rem 2rem;}
.mg { margin:1rem 2rem;}
.wrapper {
    display:flex;
    flex-wrap:wrap;
    align-items:center;  
}
.wrapper-c {
    @extend .wrapper; 
    justify-content:center; }
.wrapper-se {
    @extend .wrapper; 
    justify-content:space-evenly;}
.wrapper-sb {
    @extend .wrapper; 
    justify-content:space-between; }

.logo { width:var(--logo-w,10vw); }
.author { margin:0 1em; }
.grid {  
    display:grid;   
    grid-gap:2em;
    grid-template-rows:repeat(auto-fit,auto);
}
.grid-col {  
    @extend .grid;
    grid-auto-flow:column;
    }

.img { 
    max-width:100%; 
    object-fit: cover;
    object-position:center; }
.bg-img {
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;    }

.pill {
    // border-radius:35% 50% 20% 20%/ 35% 50% 20% 20% ;
    border-radius:3rem;
    padding:1rem;   }

.hidden {
    overflow:hidden;
    max-height:0;
    opacity:0;
    transition:all .4s ease;    }
.center { text-align:center;  }
footnote { font-size:.9em;}
// *? colors
 