@mixin font-size-headings {
    $rate:.1;
    $fs:2rem;
    h1{ font-size:$fs; }
    h2{ font-size: $fs * $rate ;}
    h3{ font-size: $fs * $rate * $rate;}
}
@mixin resetHeadings{
    font-weight: initial;
    line-height: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0; 
}
@mixin customHeadings {
    font-weight: 200;
    line-height: 1em;
    margin-block-start: 0;
    margin-block-end: .6rem;
    margin-inline-start: 0;
    margin-inline-end: 0; 
}
@mixin defaultTypography {
   
    body { // bootstrap font-family
        font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        line-height:1.5;    }

    @include font-size-headings;
    h1, h2, h3, h4, h5, h6,ul {
        @include resetHeadings;
    }
    article {
        h1 { margin-bottom:.8em;}
        p { margin-bottom:1rem;}
        .heading {
            @include customHeadings;
        }
    }

}