- author = "EFSCOMPLEX"
- 
    routes = [
        { path:"/home",label:"Home"},
        { path:"/about",label:"About"},
        { path:"/contac",label:"Contac"},
    ]
- 
    cardArticle = {
        img:"https://images.unsplash.com/photo-1569326513296-6112506c096d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60",
        header:"<h1>Primary card title<h1>",
        body:"Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.",
        footer:"Some quick example text to build on the card title and make up the bulk of the card's content."
    }
- 
    formFields = [
        {label:'title',type:'text',placeholder:'An Awesome Title'},
        {label:'body',type:'textarea',value:'place here yours thoughs...'},
        {label:'file',type:'file'},
    ]