@mixin textArea{
    
    textarea{

        width:100%;
        padding: 0.375rem 0.75rem;

        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        
        background-clip: padding-box;
        transition:border .2s ease-in-out;
        font-family:inherit;
    
        @content;
    }
}