- defaultCard = {img:'src',header:'header',body:'body',footer:'footer'}
mixin article(card=defaultCard)
    include ../templates/cardTemplate
        block img
            img.card-img(src=card.img) 
        block header
            .header !{card.header}
        block body
            .card-body !{card.body}
        block footer
            .card-footer !{card.footer}