- defaultCard = {header:'-',body:'-',footer:'-'}
mixin card(card=defaultCard)
    article&attributes(attributes)
        if card.img
            img.card-img(src=card.img) 
        if card.header
            .card-header !{card.header}
        if card.body
            .card-body !{card.body}
        if card.footer
            .card-footer !{card.footer}
                if block
                    block
        else if block
            block