mixin form( fields=[],submit= "submit")
    - id = attributes.id
    form&attributes(attributes)
        each field,i in fields
            .form-group
                if field.type === "textarea"
                    textarea(name=field.label value=field.value spellcheck="false")
                else
                    label(for=i class="label")= field.label
                        if !field.type
                            - field.type = "text"
                    input( type=field.type 
                            placeholder=field.placeholder 
                            id=i name=field.label 
                            onchange=`inputChange(this)`).input
                    script.
                        function inputChange(e){
                            let form = document.getElementById(`#{id}`)
                            let event = new CustomEvent('inputChange',
                                {detail:{
                                    value:e.value,
                                    type:e.name}
                                })
                            form.dispatchEvent(event)
                        }
        br
        button(type="submit").btn=submit