@mixin form {
    form{
        color:var(--form-c,inherit);
        background-color:var(--form-bg-c, transparent);
    }
    .form-group {
        color:var(--form-group-c,inherit);
        background-color:var(--form-group-bg-c,transparent);
    }
    input {
        color: var(--input-c,#444);
        background-color: var(--input-bg-c,#fff);
    }
    textarea {
        $textarea-bd-c:#375A7F;
        $textarea-hov-bd-c:rgba(#375A7F,.4);
        border: 1px solid var(--textarea-bd-c,#{$textarea-bd-c});
        color: var(--textarea-c,#444);
        background-color: var(--textarea-bg-c,#fff);
        &:focus {
            outline:none;
            border-color:var(--textarea-hov-bd-c,#{$textarea-hov-bd-c});
        }
        &:invalid {
            box-shadow: none;
            color: #a23231; }
    }
}