@mixin custom-colors{
    :root{
        --primary:#375A7F;
        --secondary:#444444;
        --text:#FFFFFF;
        --info:#3498DB;
        --warning:#F39C12;
        --danger:#222222;
        --success:#00BC8C;
    }
}
@function getColor($color:'primary'){
    $colorMap:(
        primary:#375A7F,
        secondary:#444444,
        text:#FFFFFF,
        info:#3498DB,
        warning:#F39C12,
        danger:#222222,
        success:#00BC8C
    );
    @return map-get($colorMap,$color);
}