include pug/mixins/menu
include pug/mixins/card
include pug/mixins/search
include pug/mixins/form
include pug/mixins/article
include pug/config
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        title Wepack Simple
    body
        header.header.wrapper-sb
            div.wrapper
                img.logo(src='https://cdn.svgporn.com/logos/dojo-icon.svg')
                div.center
                    h1.author= author
                    footnote A library powered by @efscomplex
            nav.wrap
                +menu(routes).menu
            +search.search
        aside.aside.container
            h1 Card Store
            #cardStore
                template#card
                    +card
        section.main.container
            +card(cardArticle).card.card-article
            +form(formFields,"Send Article").form#formArticle
        footer.footer
