@import 'color-theme/theme';

@include custom-colors;
body {
    @include color-theme;
    background-color: #555;
    color:white;
    .header {
        background-color: #333;
        color:var(--text);
    }
    .card { --card-c:var(--text);   }
    .form { 
        --form-c:white; 
        --form-bg-c:#{rgba(black,.1)};
    }
}