@import 'utils/mixins/layout';
@mixin layout {
    body {
        height:100vh;
        display:grid;
        grid-template-areas: 'header header' 
                            'aside main' 
                            'footer footer';
        grid-template-columns: 1fr 60vw;
        grid-template-rows: fit-content(0) 1fr fit-content(0);
        @include setGridAreas(
            'header','main','footer','aside'
        );  
        .header { 
            padding:1rem 5vw;
        }
        .main {
            align-items:start;
        }
        .card { margin-bottom:2rem;}
        .form{
            padding:3rem 2rem;
        }
   }
}

